html, body {
  position: fixed;
  overflow: hidden;
  -webkit-user-select: none;
}

html, body, canvas {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

div#slide-in {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: slide-in 3s ease-in-out;
  animation-fill-mode: forwards;
}

div#logo-container {
  position: absolute;
  left: 50%;
  bottom: -30%;
}

div#logo {
  position: relative;
  left: -50%;
  font-size: 2.5em;
  cursor: default;
}

@keyframes slide-in {
/*  70% {bottom: 50%; left: 50%;}
  100% {bottom: 50%; left: 20%;}*/
  70% {transform: translate(0%, -80%);}
  100% {transform: translate(-20%, -80%);}
}

div.menu-button {
  position: fixed;
  width: 10%;
  box-shadow: 0px 3px 10px #111111, 0px 10px 50px #333333;
  right: calc(30% - 100px);
  padding: 20px;
  background-color: #028948;
  transition: 0.1s;
  text-align: center;
  cursor: pointer;
  animation: fade-in 1s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(0.9, 0.9);
  transition: 0.2s;
}

#level1 {
  bottom: 20%;
  animation-delay: 2.5s;
}

#level2 {
  bottom: 35%;
  animation-delay: 2.7s;
}

.button-text {
  font-weight: bold;
}

.menu-button:hover {
  box-shadow: 0px 5px 20px #111111, 0px 15px 70px #333333;
}

.menu-button:active {
  background-color: #026B39;
  box-shadow: 0px 2px 10px #111111;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(0.9, 0.9);}
  to {opacity: 1; transform: scale(1, 1);}
}

.button-img {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 55px;
  height: 55px;
  -webkit-user-drag: none;
}

div.img-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
}

div.description {
  color: #ffffff;
  background-color: #111111;
  border-radius: 10px;
  position: relative;
  left: -50%;
  top: 55%;
  box-shadow: 0px 3px 10px #333333;
  opacity: 0;
  transition: 0.2s;
}

div.game-button {
  position: fixed;
  width: 15px;
  height: 15px;
  box-shadow: 0px 3px 10px #111111, 0px 10px 50px #333333;
  right: 0px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 40px 40px 40px 40px;
  transition: 0.1s;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}

.game-button:hover {
  box-shadow: 0px 5px 20px #111111, 0px 15px 70px #333333;
}

.game-button:active {
  box-shadow: 0px 2px 10px #111111;
}

.game-button:hover .description {
  opacity: 0.7;
}

div#exit {
  top: 10px;
  background-color: #d84b37;
}

div#play {
  top: 90px;
  background-color: #3f89ff;
}

div#restart {
  top: 170px;
  background-color: #3f89ff;
}

div#los {
  top: 250px;
  background-color: rgb(200, 200, 200);
}

#exit:active {
  background-color: #9E3628;
}

#play:active {
  background-color: #2C62B8;
}

#restart:active {
  background-color: #2C62B8;
}

#los:active {
  background-color: #6e6e6e;
}

div#console {
  position: absolute;
  right: 0px;
  border-left: 1px solid black;
  padding: 10px 0px 10px 10px;
  background-color: white;
  opacity: 0;
  z-index: -75;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  /*resize: both;*/
  font-family: monospace;
  transition: opacity 0.2s, width 0.2s;
}

ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

li:before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -0.9em;
  top: 0.9em;
  position: relative;
}

li {
  margin: 5px 0px 5px 5px;
}

div#fade {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 1;
  transition: 0.5s;
}
